<div class="container">
  <div class="row">
    <div class="col card">
      <pre id="console"></pre>
    </div>
    <div class="col-4 card">
      <button class="btn-primary">Connect</button>
      <button class="btn-danger">Message</button>
      <button class="btn-warn">Disconnect</button>
    </div>
  </div>
</div>
{{!-- <script src="/js/socket.js"></script> --}}